
body {
    margin:0;
    padding:0;
    font-family: News Cycle;
    background-color:#222;
    font-size:20px;
}
a, a:hover, a:visited {
    color: #0071bc;
}


#header {
    padding: 10vh;
    width:60%;
    opacity:0.8;
    height:100%;
    text-align: center;
    display: inline-block;
    position: relative;
    background-color:#222;
    z-index: 1000;
}

#map {
    top:0;
    height: 100%;
    width:70%;
    position: fixed;
    z-index:0;
}

h4{
    font-size:24px;
    background-color:#2F4F4F;
}

h5{
    font-size:24px;
    background-color:#00008B;
}

#features {
    width:30%;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.centered {
    width: 50vw;
    margin: 0 auto;
}

.righty {
    width: 33vw;
    margin-left: 70%;
}
.dark {
    color: #fafafa;
    background-color: #222;
}
.step {
    padding-bottom: 50vh;
    /* margin-bottom: 10vh; */
    opacity: 0.25;
}
.step.active {
    opacity: 0.9;
}

.step div {
    padding:  25px 50px;
    line-height: 25px;
    font-size: 18px;
}

.step img {
    width: 100%;
}

@media (max-width: 800px) {

    body {
        margin:0;
        padding:0;
        font-family: News Cycle;
        font-size:14px;
        width: 100vw;
    }

    #header {
        opacity:0.8;
        height:100%;
        text-align: center;
        display: inline-block;
        position: relative;
        background-color:#101010;
        z-index: 1000;
    }


    #map {
        top:0;
        height: 40%;
        width:100%;
        position: fixed;
        z-index:999;
    }

     h1{
        font-size:26px;
    }

    h2{
        font-size:24px;
    }


    .step div {
        padding:  25px 50px;
        line-height: 25px;
        font-size: 16px;
    }

    .step img {
        width: 70%;
    }

    #features {
        width: 90vw;
        margin: 0 auto;
    }
}
